*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gg{
  display: none;
}
.navMenu{
  background-color: #146C94;
}
.navMenu0{
  background-color:#674188;
}
.sideMenu{
  background-color: #19A7CE;
}
.sideEtudiant{
  background-color: #bb8cd6;
}
.cartContainer{
  background-color: #F6F1F1;
}
.cartContainer0{
  background-color: #F7EFE5;

}
.YouBiblio{
  font-size: 2rem;
}

