*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gg{
  display: none;
}
.navMenu{
  background-color: #146C94;
}
.navMenu0{
  background-color:#0e0d0d;
}
.sideMenu{
  background-color: #19a7ce;
  /* background-color: #ffffff; */
}
.sideEtudiant{
  background-color: #242424;
}
.cartContainer{
  background-color: #F6F1F1;
}
.cartContainer0{
  background-color: #fff;

}
.YouBiblio{
  font-size: 2rem;
}
.card-title{
font-size: 1.3rem;
}
.CatAu{
  font-size: 0.7rem;
margin-top: 6px;
}
.form-floating>.form-control{
  border-radius: 7px;
}

#comments form fieldset {
	clear:both;
}
